html, body {
  margin: 0;
  padding: 0;
}
canvas {
  display: block;
  roboto-mono-<uniquifier> {
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
  }
}
